* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: black;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  color: white;
}
.logo {
  color: white;
}
.btn {
  border-radius: 20px;
  width: 20px;
  margin: 10px;
}
nav {
  display: flex;
  gap: 20px;
  margin-left: auto;
}
